.whole{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.fundo {
     width: 80vw;
     height: 95vh;
     background-color: black;
     text-align: center;
     background-size:cover;
     background-position: 0%;
	}
.painel {
     text-align: center;
     width:30vw;
     background-color: black;
     height: 95vh;
     border-left: solid white 2px;
}
.pontos{
    position:relative;
    left:0vw;
    color: white;
    font-size: larger;
}
.pontos1{
    margin-top: 5px;
    position:relative;
    left:0vw;
    color: white;
    font-size: larger;
}
#div2 {
    position: absolute; 
    top: 5vw; 
    left: 5vw;
    width: 5vw; 
    height: 5vw;
    background-image: url("./image/c1.jpeg");
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#div1 {
    position: absolute;
    top: 15vw;
    left: 34vw;
    width: 5vw; 
    height: 5vw; 
    background-size: cover;
    text-align: center;
    border:2px white;
    border-style:dotted;
}
.cumida{
position: absolute;
    top: 10vw;
    left: 10vw; 
    width: 5vw; 
    height: 5vw; 
    text-align: center;
}
.direct{
    width:18vh;
    height:18vh;
    margin:2vh;
    font-size: 2vw;
    border: 2px black dashed;
}
.character{
    margin:2%;
    width:20%;
    height:5vw;
    font-size: 0.8vw;
    border: 2px black dashed;
}
#repeat{
    margin:10%;
    width:20%;
    height:5vw;
    font-size: 0.8vw;
    border: 2px black dashed;
}
#norepeat{
    margin:10%;
    width:20%;
    height:5vw;
    font-size: 0.8vw;
    border: 2px black dashed;
}
.winner{
    display:none;
}
#loser{
    position: absolute;
    left:27%;
    font-size: 5vw;
    color: white;
}
#inst{
    color:white;
}
#inst2{
    position: relative;
    top:20%;
    color:white;
}
.time1{
    color:white;
}
#time{
    color: white;
}
#records{
    color: white;
    position:relative;
    top:10%;
}
#rec1{
    color: white;
    position:relative;
    top:10%;
}
#rec2{
    color: white;
    position:relative;
    top:10%;
}
#rec3{
    color: white;
    position:relative;
    top:10%;
}